* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* #region Navbar */
.navbar {
  display: flex;
  width: 100%;
  /* border-bottom: 3px solid black; */
  background-color: cornsilk;


  .logo-container {
    position: absolute;
    left: 50%;
    top: 1.2rem;
    transform: translateX(-50%);

    .logo {
      font-size: 1.5rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .icon-container {
    display: flex;
    gap: 1rem;
    align-self: center;
    margin-left: -4.3rem;
    font-size: 1.3rem;

    a {
      color: black;

      &:hover {
        color: gray;
      }
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .container-list {
      display: flex;
      /* align-items: center; */

      .menu-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* background-color: white; */
        background-color: cornsilk;
        color: black;
        height: 50px;
        padding: 2rem;
      }

      .drop-menu {
        display: flex;
        position: absolute;
        top: 0.7rem;
        left: 0;
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        z-index: 1;
      }

      .sale-icon-container{
        /* IMG */
        /* filter: invert(1); */

        /* GIFT */
        filter: invert(0.8);

        .sale-icon-img{
          padding-right: 115%;
        }
      }

      .drop-menu li a.drop-category-item {
        display: block;
        width: 62em;
        padding: 0.7rem;
        text-decoration: none;
        color: white;
        padding-right: 5em;

        &:hover {
          background-color: #444;
        }
      }

      #menu-toggle ~ .drop-menu li {
        display: none;
      }

      #menu-toggle:checked ~ .drop-menu li {
        /* border: 1px solid #333; */
        border-bottom-color: white;
        /* height: 2.5em; */
        /* padding: 0.5em; */
        display: flex;
      }
      .drop-menu > li {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 0.5em 0;
        width: 100%;
        background-color: #333;
      }

      .drop-menu > li:not(:last-child) {
        border-bottom: 1px solid #444 ;
      }
      
      .menu-btn-container {
        display: flex;
        height: 100%;
        /* width: 30px; */
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #menu-toggle {
        display: none;
      }

      .menu-btn,
      .menu-btn::before,
      .menu-btn::after {
        display: block;
        background-color: black;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transfrom 400ms;
        border-radius: 2px;
      }

      .menu-btn::before {
        content: "";
        margin-top: -8px;
      }

      .menu-btn::after {
        content: "";
        margin-top: 8px;
      }

      #menu-toggle:checked + .menu-btn-container .menu-btn::before{
        margin-top: 0px;
        transform: rotate(45deg);
      }

      #menu-toggle:checked + .menu-btn-container .menu-btn {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-btn-container .menu-btn::after {
        margin-top: 0px;
        transform: rotate(-45deg);
      }

      /* #region Search I Menu */
      .search-container{
        display: flex;

        #search-form{
          display: flex;
          align-items: center;
          max-width: 400px;
          border: 2px solid black;
          border-radius: 4px;
          margin-bottom: 0.5rem;
          margin-top: 1rem;

          #search-input{
            outline: none;
            border-radius: 4px 0 0 4px;
            min-width: 150px;
            max-width: 100%;
            flex: 1;
            height: 2em;
            padding: 0 1em;
            border: none;
          }

          #search-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 2em;
            height: 2em;
            background-color: #333;
            padding: 0;
            border-radius: 0 2px 2px 0;
            margin-bottom: 0;
            border: none;
            color: white;

            &:hover{
              background-color: red;
            }
          }
        }
      }
      /* #endregion Search I Menu */

    }

  }
}
/* #endregion Navbar */

/* #region Headers */
.head {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  margin-top: 0.5rem;

  .head-container {
    /* width: 100%; */

    .search-container {
      display: flex;

      #search-form{
        display: flex;
        align-items: center;
        max-width: 400px;
        border: 2px solid black;
        border-radius: 4px;

        #search-input{
          outline: none;
          border-radius: 4px 0 0 4px;
          min-width: 250px;
          max-width: 100%;
          flex: 1;
          height: 3em;
          padding: 0 1em;
          border: none;
        }

        #search-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 3em;
          height: 3em;
          background-color: #333;
          padding: 0;
          border-radius: 0 2px 2px 0;
          margin-bottom: 0;
          border: none;
          color: white;

          &:hover{
            background-color: red;
          }
        }

      }

    }
  }

}
/* #endregion Headers */

/* #region SingleProd */
.single-prod-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 3.5rem;
  background-color: cornsilk;
  

  .single-prod-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .prod-card-img{
    max-width: 340px;
    display: block;
    height: auto;

    .prod-img{
      width: 70%;
      border-radius: 2rem;
    }
  }
  .prod-card-details{
    display: flex;
    width: 80%;
  }
  .prod-card-addToCart{
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;

    .addToCart-btn{
      text-decoration: none;
      color: white;
      font-size: larger;
    }

    &:hover{
      background-color: #444;
    }
  }
}
/* #endregion SingleProd */